.blogs-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    position: relative;
}

.card {
    color: #333;
}

a {
    text-decoration: none !important;
}



.search-container>input {
    min-width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 22px;
}

.result-search {
    border: 1px solid #555;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    min-height: auto;
}

.item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.item:hover {
    background-color: black;
    color: orange;
}

.item>img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.notfound{
    padding: 15px;
}